<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Provisional</servlet-name>
        <servlet-class>servlet.Provisional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CambiarC</servlet-name>
        <servlet-class>servlet.CambiarC</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActDatosU</servlet-name>
        <servlet-class>servlet.ActDatosU</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegInventor</servlet-name>
        <servlet-class>servlet.RegInventor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Provisional</servlet-name>
        <url-pattern>/Provisional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CambiarC</servlet-name>
        <url-pattern>/CambiarC</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActDatosU</servlet-name>
        <url-pattern>/ActDatosU</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegInventor</servlet-name>
        <url-pattern>/RegInventor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
